NET "DAT_I[3]" IOSTANDARD = LVCMOS33;
NET "DAT_I[2]" IOSTANDARD = LVCMOS33;
NET "DAT_I[1]" IOSTANDARD = LVCMOS33;
NET "DAT_I[0]" IOSTANDARD = LVCMOS33;
NET "BTN_CE" IOSTANDARD = LVCMOS33;
NET "DISP_CE" IOSTANDARD = LVCMOS33;
NET "RST" IOSTANDARD = LVCMOS33;
NET "DAT_I[3]" LOC = U9;
NET "DAT_I[2]" LOC = U8;
NET "DAT_I[1]" LOC = R7;
NET "DAT_I[0]" LOC = R6;
NET "CLK" LOC = E3;
